<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MusicEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MusicEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MusicEditor.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="SaveLoadDirectory" serializeAs="String">
                <value>E:\Songs\</value>
            </setting>
        </MusicEditor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MusicEditor.Properties.Settings>
            <setting name="WindowWidth" serializeAs="String">
                <value>925</value>
            </setting>
            <setting name="PianoSoundsDirectory" serializeAs="String">
                <value>E:\Piano wav\Piano.</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>Music Editor v1</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>780</value>
            </setting>
        </MusicEditor.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
